name: Build Java App Docker Image

on:
  push:
    branches: [ main ]

    paths:
      - 'java-docker-app/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR with Maven (in subfolder)
        working-directory: ./java-docker-app/app
        run: mvn clean package

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Who am I (check auth)
        run: gcloud auth list

      - name: Set up Docker to use gcloud as a credential helper
        run: gcloud auth configure-docker us-east1-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t us-east1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/java-images/java-docker-app:${{ github.sha }} ./java-docker-app

      - name: Push Docker image
        run: |
          docker push us-east1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/java-images/java-docker-app:${{ github.sha }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: java-docker-app
          image: us-east1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/java-images/java-docker-app:${{ github.sha }}
          region: us-east1

